<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organio – Organic & Food Store WordPress Theme</title>
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- wow.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- counter -->
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!-- font-awsome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- fonts -->
    <link rel="stylesheet" href="css/fonts.css">
    <!-- favicon -->
    <link rel="icon" href="image/favicon.png">
    <!-- headline -->
    <link rel="stylesheet" href="css/headline.css">
    <!-- style-css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- <div class="web-loader d-f justify-center align-center">
        <div class="loader"></div>
    </div> -->
    <div class="cursor"></div>

    <header>
        <!-- top-bar -->
        <section class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f justify-center align-center">
                        <div class="w-6">
                            <span>Welcome to our Organic store Organico!</span>
                        </div>
                        <div class="w-6  d-f justify-end">
                            <div class="w-4 btn d-f justify-center align-center">
                                    <a href="#">
                                        <span><i class="fa-solid fa-cart-shopping"></i> 
                                            Cart: 0 - $0.00</span>
                                    </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- menu-bar -->
        <section class="menu-bar">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f">
                        <div class="w-5 d-f align-center">
                            <nav>
                                <ul class="d-f">
                                    <li>
                                        <a href="#">
                                            <span>Home
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>About
                                            </span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">
                                            <span>Pages
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <span>Services</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Single Service</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Our Team</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Contact Us</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>FAQs</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Testimonials</span>
                                                    </a>
                                                </li>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>User Pages</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Sign Up</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Sign in</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>404 Page</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Landing</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Shop
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="w-2">
                            <div class="logo">
                                <img src="image/logo-mobile.png" alt="">
                            </div>
                        </div>
                        <div class="w-5 d-f align-center justify-end">
                            <nav>
                                <ul class="d-f">
                                    <li class="dropdown">
                                        <a href="#">
                                            <span>Portfolio
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>Portfolio Grid</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>2 Columns</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>3 Columns</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>4 Columns</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>4 Columns Wide</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Full Width No Space</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>Portfolio Masonry</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Portfolio Masonry 1</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Portfolio Masonry 2</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Portfolio Masonry 3</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Portfolio Gallery</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Single Portfolio</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">
                                            <span>Blog
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </span>
                                        </a>
                                        <div class="dropdown-menu right">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <span>Blog Carousel</span>
                                                    </a>
                                                </li>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>Blog List</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown right">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Left Sidebar</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Full Width</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Right Sidebar</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>Blog Grid</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>2 Columns</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>2 Columns : Left Sidebar</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>2 Columns : Right Sidebar</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>3 Columns</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>4 Columns : Full Width</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span>Blog Masonry</span>
                                                    </a>
                                                </li>
                                                <li class="sub-menu">
                                                    <a href="#">
                                                        <span>Blog Details</span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                    <div class="sub-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Left Sidebar</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Full Width</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span>Right Sidebar</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Elements
                                            </span>
                                        </a>
                                    </li>
                                    <li class="search">
                                        <a href="#">
                                            <span class="search">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <!-- banner -->
        <section class="banner d-f align-center">
            <div class="bg-image">
                <img src="image/h1-slide3-layer1.png" alt="" class="dish">
                <img src="image/h1-slide3-layer2.png" alt="" class="fruit">
                <img src="image/h1-slide3-layer3.png" alt="" class="tometo">
                <img src="image/h1-slide3-layer4.png" alt="" class="leaf-1">
                <img src="image/slider-layer5.png" alt="" class="leaf-2">
                <img src="image/slider-layer6.png" alt="" class="leaf-3">
                <img src="image/slider-layer7.png" alt="" class="leaf-4">
                <img src="image/slider-layer8.png" alt="" class="leaf-5">
                <img src="image/slider-layer4.png" alt="" class="leaf-6">
            </div>
            <div class="container">
                <div class="row">
                    <div class="w-12">
                        <div class="w-6 banner-content">
                            <h1 class="cd-headline rotate-1">Boost your
                                <span class="cd-words-wrapper">
                                    <b class="is-visible"> mood </b>
                                    <b>mind</b>
                                    <b>brain</b>
                                </span>
                                to take
                                organic food. 
                            </h1>
                            <span>Leading Brand for Organic Food </span>
                            <div class="btn-banner">
                                <a href="#">
                                    <span>Shop now
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- veg-fruit -->
        <section class="p-t-b">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f">
                        <div class="w-6">
                                <div class="Vegetables d-f" data-aos="fade-right">
                                    <div class="w-8">
                                        <h4>Get 10% off on Vegetables</h4>
                                        <p>Shop our selection of organic fresh vegetables in a discounted price. 10% off on all vegetables.</p>
                                        <div class="veg-btn">
                                            <a href="#">
                                                <span>Shop now</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="veg-img animate__animated animate__bounce"></div>
                                </div>
                        </div>
                        <div class="w-6">
                            <div class="w-12">
                                <div class="Fruit d-f" data-aos="fade-left">
                                    <div class="w-8">
                                        <h4>Get garden fresh fruits</h4>
                                        <p>Shop our selection of organic fresh vegetables in a discounted price. 10% off on all vegetables.</p>
                                        <div class="Fruit-btn">
                                            <a href="#">
                                                <span>Shop now</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="Fruit-img animate__animated animate__bounce"></div>
                                    </div>
                                </div>
                            </div>    
                        </div>                    
                    </div>    
                </div>
            </div>
        </section>
        <!-- about-us -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f">
                        <div class="w-6">
                            <div class="about-img animate__animated animate__bounceInDown">
                                <img src="image/about-img2.jpg" alt="">
                            </div>
                        </div>
                        <div class="w-6">
                            <div class="about-content">
                                <div class="title">
                                    <h4> ~ About us ~</h4>
                                    <h2 >We believe in working with accredited farmers</h2>
                                </div>
                                <div class="about-span">
                                     <span>Organic Foods and Café is a family run company founded in 2004 that runs organic supermarkets</span>
                                </div>     
                                <p>Organic means growing our food, which is to nourish us, without chemical aids during the growing process such as fertilisers, pesticides, fungcides, herbacides, larbicides etc</p>
                                <div class="w-12 d-f bottome-about">
                                    <div class="w-6 Organic d-f">
                                        <div class="w-3 about-icon">
                                            <img src="image/organic-food.png" alt="">
                                        </div>
                                        <div class="w-9 xxyyzz">
                                            <h3>Why Organic?</h3>
                                            <span>We're making room for self care today with plan.</span>
                                        </div>
                                    </div>
                                    <div class="w-6 Organic d-f">
                                        <div class="w-3 about-icon">
                                            <img src="image/organic-food2.png" alt="">
                                        </div>
                                        <div class="w-9 xxyyzz">
                                            <h3>Speciality Produce</h3>
                                            <span>We're making room for self care today with plan.</span>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
        <!-- Categories -->
        <section class="p-t-b categories">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f justify-center cat">
                        <div class="title p-30">
                            <h4> ~ Categories ~</h4>
                            <h2>We believe in working with <br> accredited farmers</h2>
                        </div>
                    </div>
                        <div class="w-3" data-aos="fade-down-right">
                            <div class="cat-content">
                                <div class="cat-img d-f">
                                    <h1>V</h1>
                                    <img src="image/product-category1.png" alt="">
                                </div>
                                <div class="cat-meta">
                                    <h4> Vegetables</h4>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                    <div class="cat-btn">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                                Shop now 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-3" data-aos="fade-up">
                            <div class="cat-content">
                                <div class="cat-img purple d-f">
                                    <h1>F</h1>
                                    <img src="image/product-category2.png" alt="">
                                </div>
                                <div class="cat-meta">
                                    <h4>  Fresh Fruits</h4>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                    <div class="cat-btn">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                                Shop now 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-3" data-aos="fade-down">
                            <div class="cat-content">
                                <div class="cat-img brown d-f">
                                    <h1>N</h1>
                                    <img src="image/product-category3.png" alt="">
                                </div>
                                <div class="cat-meta">
                                    <h4>  Nuts & dried food</h4>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                    <div class="cat-btn">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                                Shop now 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-3" data-aos="fade-down-left">
                            <div class="cat-content">
                                <div class="cat-img l-brown d-f">
                                    <h1>S</h1>
                                    <img src="image/product-category4.png" alt="">
                                </div>
                                <div class="cat-meta">
                                    <h4>  Spices</h4>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                    <div class="cat-btn">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                                Shop now 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <!-- Choose us -->
        <section class="Choose-us">
            <div class="container">
                <div class="row">
                    <div class="w-6">
                        <div class="condition d-f">
                            <div class="w-6" data-aos="zoom-in">
                                <div class="choose-card">
                                    <div class="policey d-f justify-center align-center">
                                        <div class="outer-color d-f justify-center align-center">
                                            <div class="inner-color d-f justify-center align-center">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h5> Return Policy</h5>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                </div>
                            </div>
                            <div class="w-6" data-aos="zoom-in">
                                <div class="choose-card">
                                    <div class="policey  d-f justify-center align-center">
                                        <div class="outer-color d-f justify-center align-center">
                                            <div class="inner-color d-f justify-center align-center">
                                                <i class="fa-brands fa-envira"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h5> 100% Fresh</h5>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                </div>
                            </div>
                            <div class="w-6" data-aos="zoom-in">
                                <div class="choose-card">
                                    <div class="policey d-f justify-center align-center">
                                        <div class="outer-color d-f justify-center align-center">
                                            <div class="inner-color d-f justify-center align-center">
                                                <i class="fa-solid fa-headset"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h5>Support 24/7</h5>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                </div>
                            </div>
                            <div class="w-6" data-aos="zoom-in">
                                <div class="choose-card">
                                    <div class="policey d-f justify-center align-center">
                                        <div class="outer-color d-f justify-center align-center">
                                            <div class="inner-color d-f justify-center align-center">
                                                <i class="fa-regular fa-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h5>Secured Payment</h5>
                                    <p>Purchasing from select family farmers who farm organically.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-6">
                        <div class="why-us">
                            <div class="title">
                                <h4>~ Why Choose us? ~</h4>
                                <h2>do not buy from the open market & traders.</h2>
                            </div>
                            <p>Purchasing from select family farmers who farm organically because they believe in it and so we do.
                                 We are conscious of air miles and our carbon footprint so a lot of our produce comes from Egypt.
                            </p>
                            <p>
                                Organic Foods and Café is a family run company that runs organic super markets and cafés selling fresh 
                                organic and biodynamic food, supplers, skincare, cosmetics, baby items and household cleaning products. 
                                We have 5 shops in Dubai – on Sheikh Zayed Road
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- rated -->
        <section class="rated d-f justify-center align-center">
            <div class="container">
                <div class="row">
                    <div class="w-3">
                        <div class="rate-card d-f justify-center align-center">
                            <div class="rate-icon d-f justify-center align-center">
                                <img src="image/rating.png" alt="">
                            </div>
                            <div class="rate-main">
                                <span >1,542 <sup><i class="fa-solid fa-plus"></i></sup></span>
                                <h4>Satisfied Clients</h4>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="rate-card d-f justify-center align-center">
                            <div class="rate-icon d-f justify-center align-center">
                                <img src="image/experience.png" alt="">
                            </div>
                            <div class="rate-main">
                                <span>182 <sup><i class="fa-solid fa-plus"></i></sup></span>
                                <h4>Expert Team</h4>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="rate-card d-f justify-center align-center">
                            <div class="rate-icon d-f justify-center align-center">
                                <img src="image/new-product.png" alt="">
                            </div>
                            <div class="rate-main">
                                <span class="count">285 <sup><i class="fa-solid fa-plus"></i></sup></span>
                                <h4>Activate Products</h4>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="rate-card- d-f justify-center align-center">
                            <div class="rate-icon d-f justify-center align-center">
                                <img src="image/badge.png" alt="">
                            </div>
                            <div class="rate-main">
                                <span>27<sup><i class="fa-solid fa-plus"></i></sup></span>
                                <h4>Awards Winning</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!-- fresh-product -->
        <section class="fresh-pr">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f justify-center align-center">
                        <div class="fresh-pr-title">
                            <span>~ Products ~</span>
                            <h2>All of our products are organic <br>& fresh.</h2>
                        </div>
                    </div>
                    <div class="w-3" data-aos="fade-down-right">
                        <div class="fresh-card">
                            <div class="fresh-img">
                                <img src="image/product1-600x500.jpg" alt="">
                            </div>
                            <div class="fresh-content">
                                <a href="#">Organic Juice</a>
                                <h4>$10.00-$20.00</h4>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="w-3" data-aos="fade-down">
                        <div class="fresh-card">
                            <div class="fresh-img">
                                <img src="image/h3-product2-1-600x500 (1).png" alt="">
                            </div>
                            <div class="fresh-content">
                                <a href="#">Fresh Orange</a>
                                <h4>$20.00-$65.00</h4>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="w-3" data-aos="fade-up">
                        <div class="fresh-card">
                            <div class="fresh-img">
                                <img src="image/product3-600x500.jpg" alt="">
                            </div>
                            <div class="fresh-content">
                                <a href="#">Organic Cabbage</a>
                                <h4>$4.00</h4>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="w-3" data-aos="fade-down-left">
                        <div class="fresh-card">
                            <div class="fresh-img">
                                <img src="image/product4-600x500.jpg" alt="">
                            </div>
                            <div class="fresh-content">
                                <a href="#">Brown Bread</a>
                                <h4>$6.00</h4>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Best Deals -->
        <section class="Best-Deals d-f justify-center align-center">
            <div class="container">
                <div class="row">
                    <div class="w-6">
                        <div class="Best-content">
                            <div class="fresh-pr-title best-title">
                                <span>Best Deals of the week!</span>
                                <h2>Grab the best offer <br> of this week!</h2>
                            </div>
                            <div class="timer d-f">
                                <div class="hours">
                                    <a href="#">
                                        <span>0</span>
                                    </a>
                                    <a href="#">
                                        <span>7</span>
                                    </a>
                                    <p>Hours</p>
                                </div>
                                <h2>:</h2>
                                <div class="minutes">
                                    <a href="#">
                                        <span>4</span>
                                    </a>
                                    <a href="#">
                                        <span>5</span>
                                    </a>
                                    <p>Minutes</p>
                                </div>
                                <h2>:</h2>
                                <div class="second">
                                    <a href="#">
                                        <span>1</span>
                                    </a>
                                    <a href="#">
                                        <span>2</span>
                                    </a>
                                    <p>Seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-6">
                        <div class="best-img">
                            <img src="image/counter-banner1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ~ Team member ~ -->
        <section class="team p-t-b">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f justify-center cat">
                        <div class="title">
                            <h4>~ Team member ~</h4>
                            <h2>We have awesome team member to <br> help support.</h2>
                        </div>
                    </div>
                        <div class="w-4">
                            <div class="team-card-1">
                                <div class="team-img">
                                    <img src="image/author1-176x176.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <div class="team-name">
                                        <h3> Alisa Lisa</h3>
                                        <span>Customer Care Officer</span>
                                    </div>
                                    <p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
                                    <div class="team-icon d-f justify-center align-center">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-dribbble"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-behance"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-4">
                            <div class="team-card-1">
                                <div class="team-img">
                                    <img src="image/author2-176x176.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <div class="team-name">
                                        <h3>  Robert Leo</h3>
                                        <span>Farmers</span>
                                    </div>
                                    <p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
                                    <div class="team-icon d-f justify-center align-center">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-dribbble"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-behance"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-4">
                            <div class="team-card-1 not-border">
                                <div class="team-img">
                                    <img src="image/author3-176x176.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <div class="team-name">
                                        <h3> Nora Bell</h3>
                                        <span>Sales Executive</span>
                                    </div>
                                    <p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
                                    <div class="team-icon d-f justify-center align-center">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-dribbble"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-behance"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
        <!-- veges-product -->
        <section class="vege">
            <div class="veges d-f">
                <div class="w-3">
                    <div class="veg-content">
                        <div class="veges-img">
                            <img src="image/organic8-435x500.jpg" alt="">    
                        </div>
                        <div class="veg-main d-f space-between align-center" data-aos="fade-up-left">
                            <div class="iteam-cat">
                                <h3>Holding Fresh Radishes</h3>
                                <span class="d-f align-center">
                                    Food 
                                    <i class="fa-solid fa-circle"></i>
                                    Organic
                                </span>
                            </div>
                            <div class="veg-arrow">
                                <a href="#" class="d-f justify-center align-center">
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-3">
                    <div class="veg-content">
                        <div class="veges-img">
                            <img src="image/organic10-435x500.jpg" alt="">    
                        </div>
                        <div class="veg-main d-f space-between align-center" data-aos="fade-up-right">
                            <div class="iteam-cat">
                                <h3>Organic Grape</h3>
                                <span class="d-f align-center">
                                    Farming Fruits
                                </span>
                            </div>
                            <div class="veg-arrow">
                                <a href="#" class="d-f justify-center align-center">
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-3">
                    <div class="veg-content">
                        <div class="veges-img">
                            <img src="image/organic11-435x500.jpg" alt="">    
                        </div>
                        <div class="veg-main d-f space-between align-center" data-aos="fade-down-right">
                            <div class="iteam-cat">
                                <h3>Different Vegetables</h3>
                                <span class="d-f align-center">
                                    Food 
                                    <i class="fa-solid fa-circle"></i>
                                    Nature
                                </span>
                            </div>
                            <div class="veg-arrow">
                                <a href="#" class="d-f justify-center align-center">
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-3">
                    <div class="veg-content">
                        <div class="veges-img">
                            <img src="image/organic12-435x500.jpg" alt="">    
                        </div>
                        <div class="veg-main d-f space-between align-center" data-aos="fade-down-left">
                            <div class="iteam-cat">
                                <h3>Organic Tomato Farm</h3>
                                <span class="d-f align-center">
                                    Food 
                                    <i class="fa-solid fa-circle"></i>
                                    Organic
                                </span>
                            </div>
                            <div class="veg-arrow">
                                <a href="#" class="d-f justify-center align-center">
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
        <!-- blog -->
        <section class="p-t-b">
            <div class="container">
                <div class="row">
                    <div class="w-12 d-f justify-center cat">
                        <div class="title m-b">
                            <h4>~ From our blog ~</h4>
                            <h2>On a quest to bring together and closer <br>to you all things Organic.</h2>
                        </div>
                    </div>
                        <div class="w-4">
                            <div class="blog-content d-f justify-center">
                                <div class="blog-img">
                                    <img src="image/organic1-371x255.jpg" alt="">
                                </div>
                                <div class="blog-main">
                                    <ul class="d-f">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span>March 17, 2021</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-grip-lines-vertical"></i>
                                            <i class="fa-solid fa-user"></i>
                                            <span>Mike Dooley</span>
                                        </li>
                                    </ul>
                                    <h3>Our 6 of the Best Organic Chocolates to Buy.</h3>
                                    <div class="blog-more d-f align-center space-between">
                                        <div class="blog-read">
                                            <a href="#" class=" d-f align-center">
                                                <span>Read more</span>
                                                <i class="fa-solid fa-angle-right"></i>
                                            </a>
                                        </div>
                                        <div class="blog-icon">
                                            <i class="fa-solid fa-comments"></i>
                                            <span>04</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-4">
                            <div class="blog-content d-f justify-center">
                                <div class="blog-img">
                                    <img src="image/organic2-371x255.jpg" alt="">
                                </div>
                                <div class="blog-main">
                                    <ul class="d-f">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span>March 17, 2021</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-grip-lines-vertical"></i>
                                            <i class="fa-solid fa-user"></i>
                                            <span>Mike Dooley</span>
                                        </li>
                                    </ul>
                                    <h3>Best guide to shopping for organic ingredients.</h3>
                                    <div class="blog-more d-f align-center space-between">
                                        <div class="blog-read">
                                            <a href="#" class=" d-f align-center">
                                                <span>Read more</span>
                                                <i class="fa-solid fa-angle-right"></i>
                                            </a>
                                        </div>
                                        <div class="blog-icon">
                                            <i class="fa-solid fa-comments"></i>
                                            <span>05</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-4">
                            <div class="blog-content d-f justify-center">
                                <div class="blog-img">
                                    <img src="image/organic3-371x255.jpg" alt="">
                                </div>
                                <div class="blog-main">
                                    <ul class="d-f">
                                        <li>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span>March 17, 2021</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-grip-lines-vertical"></i>
                                            <i class="fa-solid fa-user"></i>
                                            <span>Mike Dooley</span>
                                        </li>
                                    </ul>
                                    <h3>Zechsal Magnesium flakes especially made.</h3>
                                    <div class="blog-more d-f align-center space-between">
                                        <div class="blog-read">
                                            <a href="#" class=" d-f align-center">
                                                <span>Read more</span>
                                                <i class="fa-solid fa-angle-right"></i>
                                            </a>
                                        </div>
                                        <div class="blog-icon">
                                            <i class="fa-solid fa-comments"></i>
                                            <span>03</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="w-12">
                        <div class="blog-btn d-f justify-center">
                            <a href="#">
                                <span>View all posts  <i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <footer>
        <section class="p-t-b foot">
            <div class="container">
                <div class="row">
                    <div class="w-12">
                        <div class="Subscribe d-f">
                            <div class="w-4">
                                <div class="footer-bg-img">
                                    <img src="image/mailchimp-image1.png" alt="">
                                </div>
                            </div>
                            <div class="w-8">
                                <div class="subscribe-content">
                                    <h4>Subscribe to our Newsletter:</h4>
                                    <form action="#" class="d-f align-end">
                                        <div class="email">
                                            <input type="email" name="EMAIL" placeholder="Type your mail address..." required="">
                                        </div>
                                        <div class="Subscr">
                                            <input type="submit" value="Subscribe"> 
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="footer-card">
                            <div class="footer-logo">
                                <img src="image/logo-light.png" alt="">
                            </div>
                            <div class="footer-content">
                                <p> We work with a passion of taking challenges and creating new ones in advertising sector.</p>
                            </div>
                            <div class="team-icon footer-icon d-f align-center">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-behance"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="footer-card">
                            <div class="footer-title">
                                <h3>Links</h3>
                            </div>
                            <div class="footer-main">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span><i class="fa-solid fa-chevron-right"></i>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span><i class="fa-solid fa-chevron-right"></i>Services</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span><i class="fa-solid fa-chevron-right"></i>About us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span><i class="fa-solid fa-chevron-right"></i>Testimonials</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span><i class="fa-solid fa-chevron-right"></i>News</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="footer-card">
                            <div class="footer-title">
                                <h3>Official info:
                                </h3>
                            </div>
                            <div class="footer-main">
                                <div class="footer-contact">
                                    <ul>
                                        <li class="d-f">
                                            <p><i class="fa-solid fa-location-dot"></i>
                                            </p>
                                            <span>30 Commercial Road <br>  Fratton, Australia</span>

                                        </li>
                                        <li class="d-f">
                                            <p><i class="fa-solid fa-phone"></i></p>
                                            <span>1-888-452-1505</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="timeing">
                                    <span>Open Hours: </span>
                                </div>
                                <div class="date">
                                    <span> Mon – Sat: 8 am – 5 pm, <br>
                                        Sunday: CLOSED
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-3">
                        <div class="footer-card">
                            <div class="footer-title">
                                <h3>Instagram
                                </h3>
                            </div>
                            <div class="footer-main d-f">
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/160592051_437679624012421_2157246266541466556_nthumb.jpg" alt="">
                                    </div>
                                </div>
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/160790142_520098882312680_7190864355709334403_nthumb.jpg" alt="">
                                    </div>
                                </div>
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/161271827_191172625791711_1225591762254058110_nthumb.jpg" alt="">
                                    </div>
                                </div>
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/160300357_262853852155134_4639421379710860544_nthumb.jpg" alt="">
                                    </div>
                                </div>
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/160824220_272293631058951_25353289917148256_nthumb.jpg" alt="">
                                    </div>
                                </div>
                                <div class="w-4 p-n">
                                    <div class="footer-img">
                                        <img src="image/161432828_1556196047918593_925226802758570664_nthumb.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 300,
        delay: 0,
        duration: 1000,
      });
    </script>
    <script src="js/main.js"></script>
</body>
</html>